@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: myFont;
    src: url(src/font/FONTSPRINGDEMO-CeraRoundProRegular.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont, Arial, Helvetica, sans-serif;
}

#advert {
    display: flex;
    justify-content: center;
    background-color: #008000;
}

header {
    padding: 1em 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

#jumiaLogo {
    width: 120px;
}

#headerSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header section div a {
    color: #000;
    text-decoration: none;
}

#sellOn {
    background-color: #f1f1f2;
    padding: 5px 50px;
    font-size: 12px;
}

#sellOn a {
    display: flex;
    align-items: center;
    color: #F68B1E;
    text-decoration: none;
    transition: .3s ease;
}

#sellOn a:hover {
    text-decoration: underline;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid 
    #f1f1f2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1em;
}

#search input {
    padding: 5px;
    border: none;
    outline: none;
    width: 520px;
}

i {
    color: #F68B1E;
}

button, #signIn {
    background-color: #F68B1E;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 5px !important;
    text-align: center;
}

#accDrop:hover {
    color: #F68B1E;
}

#signIn {
    margin: 5px;
    max-width: 95%;
    box-shadow: 0 0 12px 0 #f1f1f2;
}

.dropdown-menu {
    width: 250px !important;
}

.dropdown-item {
    margin-bottom: 10px;
}

.dropdown-item i {
    margin-right: 10px;
}

#accDrop {
    margin-right: 5px;
}

#mainCon {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f2;
    padding: 1em 50px;
}

aside {
    flex-basis: 18.5%;
}

main {
    flex-basis: 60%;
    border-radius: 5px;
}

#carouselExampleSlidesOnly, .carousel-item, .carousel-inner {
    border-radius: 5px !important;
}

#asideRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#asideRight img {
    border-radius: 5px;
    height: 48%;
}

#asideLeft {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#asideLeft a {
    text-decoration: none;
    color: 
    #9B9B9C;
    display: block;
    padding: 5px;
}

#asideLeft a:hover, #asideLeft a:hover i {
    color: #F68B1E;
}

#asideLeft a i {
    color: #9B9B9C;
    margin-right: 5px;
    font-size: 14px;
    width: 1.3em;
}

#asideLeft a span {
    font-size: 12px;
}

#categories {
    padding: 1em 50px;
    background-color: #f1f1f2;
}

#innerCat {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    transition: 2s ease-in-out;
}

#innerCat a img {
    width: 130px;
}

#innerCat a {
    text-decoration: none;
    color: #9B9B9C;
    font-size: 12px;
    width: 130px;
}

#innerCat a p {
    text-align: center;
}

#innerCat a:hover {
    transform: scale(1.06);
    box-shadow: 0 0 10px 0 #f1f1f2;
}

#topSelling, #flash {
    padding: 1em 50px;
    background-color: #f1f1f2;
}

#innerTopSelling, #innerFlash {
    padding: 14px;
    background-color: #fff;
    border-radius: 5px;
}

#topSellingItem, #flashItem {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px
}

.productImage img {
    width: 200px;
    border-radius: 5px;
}

.productCard {
    width: 180px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.productCard:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 #9B9B9C;
}

.productName, .oldPrice {
    color: #9B9B9C;
    font-size: 14px;
    padding: 0;
}

.productText {
    padding: 10px;

}

.oldPrice {
    text-decoration: line-through;
}

.price {
    font-size: 14px;
    font-weight: 500;
    padding: 0 !important;
    margin: 0;
}

#innerFlash h5 {
    background-color: #E61601;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

#flashItem p {
    color: #fff;
}

#flashItem .productText {
    background-color: #E61601;
    border-radius: 5px;
}

#flash .productCard {
    border-top: 5px solid #E61601;
}

footer {
    background-color: #000;
    padding: 1em 50px;
}

#footerMini {
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 5%;
}

#footerSub {
    flex-basis: 40%;
}

#footerImg, address {
    flex-basis: 25%;
}

footer h6 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

#sub {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

#subIn {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 10px;
}

#subIn input {
    padding: 10px;
    border: none;
    width: 270px;
    outline: none;
    background-color: #fff;
    color: #000;
}

#sub button {
    width: 72px;
    background-color: transparent;
    border: 2px solid #9B9B9C;
}

#sub button:hover {
    border-color: #F68B1E;
    color: #F68B1E;
}

address {
    font-style: italic;
}

#socialMedia {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    font-size: 2.3em;
}

#socialMedia i {
    color: #9B9B9C;
}

#socialMedia i:hover {
    color: #F68B1E;
}


/* SignUp Page Css Start Here */
#signUpMain {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

#signUpMain input {
    width: 90%;
}

.formGroup {
    position: relative;
    margin-bottom: 30px;
    width: 90%;
    border: 1px solid #F68B1E;
    padding: 10px;
    border-radius: 5px;
  }
  
  .formGroup label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }
  
  .formGroup input {
    width: 100%;
    border: none;
    outline: none;
  }
  
  .formGroup input:focus + label,
  .formGroup input:not(:placeholder-shown) + label {
    font-size: 16px;
    top: -15px;
    color: #F68B1E;
  }

  #signUpMain button {
    width: 90%;
  }

  #signUpMain a {
    color: #F68B1E;
    font-style: italic;
  }